* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.1px;
}

.signupsc-con {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.signupsc-leftside-con {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #26b9b3;
}
.signupsc-leftside-logo-con {
  width: 42vw;
  height: 60px;
  top: 0;
  padding: 30px 0 0 40px;
  box-sizing: border-box;
  position: absolute;
}
.signupsc-leftside-logo {
  width: 50px;
  max-width: 100%;
  max-height: 100%;
}

.signupsc-rightside-con {
  width: 58%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 150px 0;
  background-color: #ffffff;
}
.signupsc-rightside-h1-con {
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 130px; */
}
.signupsc-rightside-h1 {
  /* font-family: Nunito; */
  /* display: "inline"; */
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.signupsc-rightside-text-con {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 30px 0px;
}
.signupsc-rightside-text {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #545563;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}
