/* .Logistic-table {
  width: 90vw;
} */
/* 
@media all and (max-width: 500px) {
  .Logistic-table-search {
    text-indent: 10px;
  }
  th,
  td {
    font-size: 12px;
    padding-top: 10px;
  }
} */
