aside {
    z-index: 3;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70px;
    background: #0799A6;
    flex-direction: column;
    /* align-items: center; */
}

/* aside:hover {
    width: 200px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.6);

} */

.logo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    align-self: center;
}

svg {
    cursor: pointer;
    user-select: none;
}

.middle {
    display: flex;
    flex-direction:column;
    flex: 4;
    justify-content: space-around;
}

.bx-color-white {
    color: white
}

.footer {
    flex: 5
}

.half-box {
    height: 70px;
    width: 9px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #00535F;
  
}

.nav-container {
    display: flex;
    align-items: center;
    /* background: gray; */
    margin-left: 0px;
    height: 70px;
}
